.card{
   padding-inline: 10px;
   padding-block-start: 40px;
   padding-block-end: 80px;
   display: flex;
}

.card-section{
    position: relative;
    display:inline-block;
    background-image: linear-gradient(to right, rgba(255,255,255,0.2) 100%, rgba(255,255,250,1) 7%, rgba(244,244,253,1) 45%, rgba(81,81,229,0) 100%);
    border-radius: 24px;
    overflow: hidden;
    padding-inline: 24px;
    padding-block: 24px;
    align-self: stretch;
    z-index:0;
}

.card-section:before{
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    box-sizing: border-box;
    z-index: -1;
}

.card-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-block-end: 24px;
}


.card-section h1 span{
    font: var(--body3);
    font-weight: 700;
    display: block;

}

.card-section h1 a {
    padding-block-start: 24px;
    opacity: 0.5;
    display: block;
    font: var(--headline6);
    font-weight: 400;
}


/*Responsive deisgn de card comentarios*/

@media screen and (min-width: 768px){
    .card{
        padding-block: 58px;
        padding-inline: 58px;
    }

    .card-section{
        text-align: center;
        max-inline-size: 972px;
        padding-inline: 80px;
        padding-block:80px;
    }
    .card-section h1 span{
        font: var(--body3);
        font-size: 34px;
        line-height: 55px;
    }

    .card-section h1 a {
        font:var(--headline5);
    }
}