@import "./button.css"; 
@import "./button-icon.css";
@import "./header.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./project.css";
@import "./comment.css";
@import "./card.css";
@import "./social.css";
@import "./title.css";
@import "./form.css";
@import "./footer.css";

/*Aquí lo que hacemos es definir las variables de nuestros estilos principales
del proyecto, definimos entonces las fuentes que se usarán, con sus distintas
propiedades y los colores de nuestros elementos */
:root{
    --fontBase: 'Poppins', sans-serif;
    --fontTestimony: 'Oxygen', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase); 
    --headline2: bold 59px/95px var(--fontBase); 
    --headline3: bold 48px/77px var(--fontBase); 
    --headline4: bold 34px/55px var(--fontBase); 
    --headline5: bold 24px/38px var(--fontBase); 
    --headline6: 12px/20px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --body3: bold 16px/26px var(--fontTestimony);
    --body4: 34px/55px var(--fontTestimony);
    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%),linear-gradient(90deg, rgba(143,182,241,1) 25%, rgba(77,123,175,1) 100%);
    --purple: #310A90;
    --green: #42E2B8;
    --white: white; 
}

/*Esto se hace para manejar el comportamiento al hacer click en nuestra lista*/
html{
    scroll-behavior: smooth;
}

body{
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1); 
    color: var(--purple);
    margin: 0;
}



