.project {
    padding-block-start: 40px;
    padding-block-end: 40px;

}

.project-image img{
    /*Esto se hace para la imagen tome el 100% del elemento, resize*/
    max-inline-size: 100%;
    display: block;
    margin: 0 auto;
}

.project-description, .buttons-container{
    display: flex;
    /*flex-direction por defecto es row, en este caso necesitamos 
    que los items se despliguen sobre una columna*/
    flex-direction: column;
    gap: 16px;
}


/*Responsive testimony*/

@media screen and (min-width:768px) {
    .project{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .project-description{
        flex: 1;
    }

    .project-image img{
        opacity:.8;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .project-image:hover img{
        opacity: 1;
        z-index: -1;
    }

    .buttons-container{
        display: inline-block;
    }    

    .project:nth-of-type(odd) .project-image{
        /*Para que la imagen contenidas en los testimony pares estén a la derecha*/
        order: 2;
        /*para que este elemento ocupe la mitad*/
        flex: 1;
        text-align: center;
    }
}